<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<!--
1.v-for注意点
1.1v-for为了提升性能, 在更新已渲染过的元素列表时，会采用“就地复用”策略。
也正是因为这个策略, 在某些时刻会导致我们的数据混乱
例如: 在列表前面新增了内容
1.2为了解决这个问题, 我们可以在渲染列表的时候给每一个元素加上一个独一无二的key
v-for在更新已经渲染过的元素列表时, 会先判断key是否相同, 如果相同则复用, 如果不同则重新创建

2.key属性注意点
不能使用index的作为key,因为当列表的内容新增或者删除时index都会发生变化
-->
<body>
    <div id="app">
        <input type="text" v-model='name'>
        <input type="submit" value="新增" @click="add(name)">
        <ul>
            <li v-for='(person,index) in persons' :key='person.id'>
                <input type="checkbox">
                <span>{{person.name}}---{{index}}</span>
            </li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                persons:[
                    {
                        name:'zs',
                        id:1,
                    },
                    {
                        name:'ls',
                        id:2,
                    },
                    {
                        name:'ww',
                        id:3,
                    }
                ],
                name:'',
            },
            methods: {
                add:function(name){
                    let lastPerson=this.persons[this.persons.length-1];
                    let newPerson={name:this.name,id:lastPerson.id +1};
                    // this.persons.push(newPerson);
                    this.persons.unshift(newPerson);
                    console.log(newPerson)
                    this.name='';
                    console.log(newPerson)
                }
            }
        });
    </script>
</body>

</html>