<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <label for="agree">
    <input type="checkbox" id="agree" v-model="isAgree">同意协议
  </label>
  <h2>你选择的是:{{isAgree}}</h2>
  <button :disabled="!isAgree">下一步</button>
  <br>
  <input type="checkbox" name="basketball" v-model="hobby" value="篮球">篮球
  <input type="checkbox" name="football" v-model="hobby" value="足球">足球
  <input type="checkbox" name="badminton" v-model="hobby" value="羽毛球">羽毛球
  <h2>你的爱好是:{{hobby}}</h2>

</div>
<script src="../js/vue.js"></script>
<script>
  let vm=new Vue({
    el:'#app',
    data:{
      message:'123',
      hobby:[],
      isAgree:false,
    },
  })
</script>

</body>
</html>